div {
  text-align: center;
}
p {
  text-align: center;
  

}

.box1 {
  background-color: #dddddd;
  margin-right: 90px;
  margin-left: 90px;



}

.box2{
    background-color: rgb(98, 179, 170);
    float: left;
    margin-top: 2px;
    margin: 2px;
    height: 80px;
    width: 480px;
    font-size: 14px;
  
   

}

.box3{
    background-color: rgb(98, 179, 170);
    float: left;
    margin: 2px;
    height: 80px;
    width: 260px;
    font-size: 14px;
}

.box4{
    background-color: rgb(98, 179, 170);
    float: left;
    margin: 2px;
    height: 80px;
    width: 500px;
    font-size: 14px;
  
}






